/*------------global*/
/*generic*/
*{
	scroll-behavior: smooth;
}
html,body,body *{
	padding:0;
	margin:0;
}
body{
	overflow:hidden;
	
}
main{
	overflow-x:scroll;
}
.clear { 
	clear: both; 
}

/*colors*/

/*font*/

/*for regular text, 80%percent of content*/
@font-face {
  font-family: Asap;
  src: url(fonts/Asap-Regular.ttf);
}
p,input,b,i,span,.text{
	font-family: Asap;
}
a{
	color:black;
	text-decoration:none;
}
/*headers*/
@font-face {
  font-family: AsapHeader;
  src: url(fonts/Asap-Medium.ttf);
}
h1,h2,h3,h4,h5,h6{
	font-family: AsapHeader;
}
/*little texts, captions, labels*/
@font-face {
  font-family: AsapLabel;
  src: url(fonts/Asap-Italic.ttf);
}
.little, figcaption, blockquote{
	font-family: AsapLabel;
}

/*text-size*/
h1{
	font-size:2.5rem;
}
h2{
	font-size:2rem;	
}
p,input,b,i,span, .text, figcaption{
	font-size:1.2rem;
}
blockquote{
	font-size:1.2rem;
}
h1,h2,h3,h4{
	font-weight: normal;
}
.little{
	font-size:0.8rem;
}
/*components*/
 .content-img{
	width:84vw;
	height:20rem;
	margin-left:3vw;
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
	-webkit-filter: grayscale(50%); /* Safari 6.0 - 9.0 */
	filter: grayscale(50%);
 }
main{
	height:100vh;
	padding:0;
	margin:0;
	padding-top:2rem;
	overflow-x:hidden;
}

section{
	width:100vw;
	min-height:100vh;
	text-align:left;
}

h1,p,blockquote,figure,aside, .content-img{
	padding-left:5vw;
	margin-bottom:2rem;
}

p,blockquote,h1{
	text-align:justify;
}

h1,figure{
	text-align:left;
}

h1{
	border-left: 0.15rem solid rgba(255, 255, 255, 0.3);
}



figure{
	text-align:center;
}

.album-cover:hover{
	filter: blur(2px);
	-webkit-filter: blur(2px);
}

.album-cover{
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
	
}

figcaption{
	font-style:italic;
}

h1,p,blockquote,aside{
	padding-right:10vw;
}

#wallpaper{
	display:none;
}
/*album-covers-mobile*/

figure{
	width:41vw;
	float:left;
	padding:0vw;
}
.album-cover{
	width:41vw;
	height:41vw;
}
figcaption{
	width:41vw;
}

#header-title{
	border-bottom:3px solid rgba(255,255,255,0.3);
	letter-spacing:10px;
}
/*timeline*/
#timeLine{
}

.tl-vertical-line, .tl-text{
	position:fixed;
}

.tl-text{
	color:black;
	text-decoration:none;
	display:block;
	text-align:center;
	right:0;
	top:10vh;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
						  supported by Chrome and Opera */

}

.tl-vertical-line{
	top:0;
	width:0;
	height:100vh;
	box-sizing:border-box;
	border-left: 0.15rem solid rgba(255, 255, 255, 0.3);
}

.tl-title,.tl-time{
}
.tl-active-text{
	color:white;
}


.tl-title{
	display:none;
}



.tl-text{
	width:10vw;
	background-color:rgba(255,255,255,0.7);
	border:1px solid rgba(255,255,255,0.7);
	border-radius:2px;
}
.tl-vertical-line{
	right:5vw;
}


.tl-open{
	opacity:0.5;
}
.content-img{
	position:relative;
}
.content-img h1{
	position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(255,255,255,0.5);
}

/*------------breakpoints*/

/*phone only*/
@media (max-width: 599px) {
	body{
		font-size:25px;
	}
}
/*for-tablet-portrait-up*/
@media (min-width: 600px) {
	body{
		font-size:20px;
	}
}

/*for-tablet-landscape-up */
@media (min-width: 900px) {
	body{
		font-size:20px;
	}
	h1,p,blockquote,aside{
		padding-right:20vw;
	}
	/*album-covers-tablet*/

	figure{
		width:25vw;
		float:left;
		padding:0vw
	}
	aside{
		padding-left:5vw;
	}
	.album-cover{
		width:23vw;
		height:23vw;
	}
	figcaption{
		width:23vw;
	}
	.tl-text{
		width:10vw;
		right:5vw;
	}
	.tl-vertical-line{
		right:10vw;
	}
	
	.tl-title{
		display:block;
	}
	.content-img{
		width:74vw;
		margin-right:20vw;
	}
	
	
	.tl-open{
		position: absolute;
		right: 0;
		top: 0;
	
	}
}
/*for-desktop-up*/
@media (min-width: 1200px) {
	body{
		font-size:16px;
	}
	h1,p,blockquote,aside, .content-img{
		padding-right:20vw;
	}
	p,blockquote{
		padding-left:5vw;
		padding-right:32vw;
	}
	/*album-covers-desktop*/
	figure{
		width:15vw;
		padding:0vw
	}
	.album-cover{
		width:14vw;
		height:14vw;
	}
	figcaption{
		width:15vw;
	}	
	.content-img{
		width:41vw;
		height:70vh;
		margin-right:20vw;
	}
	.content-img h1{
		z-index:3;
	}
	.content-img::after{
		content:" ";
		width:100%;
		height:100%;
		position:absolute;
		left:0;
		top:0;
		background-image: linear-gradient(to right, 
			rgba(255,255,255,0) 0%,
			rgba(255,255,255,0.3) 70%,
			rgba(255,255,255,0.5) 85%,
			rgba(255,255,255,0.9) 100%
		);
	}
	main{
		position:relative;
		
	}
	#wallpaper{
		height: 10000px;
		position: absolute;
		right: 9vw;
		top: 78px;
		width: 21vw;
		display: block;
		z-index:-1;
		background-color: rgba(255,255,255,0);
		background-image: url("data:image/svg+xml,%3Csvg width='84' height='48' viewBox='0 0 84 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h12v6H0V0zm28 8h12v6H28V8zm14-8h12v6H42V0zm14 0h12v6H56V0zm0 8h12v6H56V8zM42 8h12v6H42V8zm0 16h12v6H42v-6zm14-8h12v6H56v-6zm14 0h12v6H70v-6zm0-16h12v6H70V0zM28 32h12v6H28v-6zM14 16h12v6H14v-6zM0 24h12v6H0v-6zm0 8h12v6H0v-6zm14 0h12v6H14v-6zm14 8h12v6H28v-6zm-14 0h12v6H14v-6zm28 0h12v6H42v-6zm14-8h12v6H56v-6zm0-8h12v6H56v-6zm14 8h12v6H70v-6zm0 8h12v6H70v-6zM14 24h12v6H14v-6zm14-8h12v6H28v-6zM14 8h12v6H14V8zM0 8h12v6H0V8z' fill='%23ffffff' fill-opacity='0.6' fill-rule='evenodd'/%3E%3C/svg%3E");
	}
	aside{
		padding-right:26vw;
	}
	
}

/*for-big-desktop-up*/
@media (min-width: 1800px) {
	
}
